body {
    font-family: sans-serif;
    background-color: #ffffff;
}
.Cuerpo{


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.TituloBox{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    margin: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 1307px;
}

.Titulo{
    color: #4da5e3;
    -webkit-text-stroke: 0.5px black;
}

.DiagramaECP{
    background-image:url("/assets/EsquemaGuardianWhite.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;

}
.ImagenPadre{

    width: 1000px;
    height: 500px;
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}
.CajaM{

    position: absolute;

    font-size: 15px;
    font-weight: bold;

}
.CajaHijoVar{

    margin: 1px;

    width: 80px;

    background-color: #82b9e0;
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.CajaHijoName{
    margin:1px;
    width:60px;
}
.CajaHijo{

    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

}
.btn1 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff
}
  .btn1:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
  .btn1:hover:after {
    opacity: 1;
    right: 10px;
}
  .btn1:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
  .Buttons{
    padding: 20px;
}
.OperatividadPadre{
    margin-left: 10px;
    margin-right: 10px;

    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    display: flex;
    flex-direction: column;

    width: 295px;
    height: 500px;
}

.Periodo{
    
    margin: 10px;
    margin-left: 30px;
    width: 90%;

}
.TitlePeriodo{

    text-align: center;
    padding-bottom: 15px;
    margin-left: -20px;
    margin-top: 20px;
    font-weight: bold;

}
.TitleOpe{

    text-align: center;
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: 10px;

}
.Item{
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
}
.ItemOpR{
    width: 50%;
    text-align: center;
}
.ItemOp{
    width: 60%;
    font-weight:bold;

    font-size: 15px;
}
.Operatividad{
    
    margin: 10px;
    width: 90%;
    font-weight: bold;

}
.IdenSistema{
    
    margin: 10px;
    margin-left: 20px;
    width: 90%;
    height: 300px;

}
.GraficoTorta{
    height: 210px;
    width: 210px;

    margin-left: 40px;
    margin-top: 20px;
}
.TitleSistema{

    text-align: center;
    padding-bottom: 15px;
    margin-left: -5px;
    font-weight: bold;

}

.GraficosPadre{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 14px;

    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    width: 1400px;
    height: 500px;

    display: flex;
    flex-direction: row;
}

.Grafico{
    width: 900px;
    padding-left: 100px;
    padding-top: 40px;
    
}

.DropTags{

    width: 200px;
    padding-left: 20px;
    padding-top: 100px;

}